body {
  font-family: sans-serif;
  margin: 0px 3% 100px 3%;
  background: #b8b2ea;
}

.system_name {
  display: block;
  width: 300px;
  height: 100px;
  margin-right: auto;
}

#flex_container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
}

.flex {
  display: flex;
}

.lab_name {
  font-size: 30px;
  text-align: center;
  border: solid 2px orange;
}

.user_list {
  height: 50px;
  margin: 20px 20px 0px;
}

.image_color {
  height: 100%;
}

.user_name {
  height: 100%;
  font-size: xx-large;
  text-align: center;
}

.attend {
  background-color: white;
  color: black;
}

.absent {
  background-color: #04012c;
  color: white;
}

.in_out {
  height: 100%;
}

.in_image {
  background-color: white;
}

.out_image {
  background-color: #04012c;
}

.column {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.graph_image {
  width: 60px;
  height: 24px;
  cursor: pointer;
}

.graph_time {
  /* max-width: 300px; */
  padding: 0px 20px;
  margin: 0px;
}

.logout {
  width: 45%;
  height: 8%;
  font-size: 1.4em;
  left: 2%;
  bottom: 2%;
  background-color: black;
  color: white;
  position: fixed;
  font-weight: bold;
  border-radius: 10%;
  cursor: pointer;
  background-image: url("./../img/logout.png");
  background-repeat: no-repeat;
  background-position: left;
}

.user_info {
  width: 45%;
  height: 8%;
  font-size: 1.4em;
  right: 2%;
  bottom: 2%;
  background-color: black;
  color: white;
  position: fixed;
  font-weight: bold;
  border-radius: 10%;
  cursor: pointer;
  background-image: url("./../img/setting.png");
  background-repeat: no-repeat;
  background-position: left;
}

/* 管理画面に使うスタイル */
.wrap > input {
  display: block;
}

div {
  margin-bottom: 20px;
}

ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}
