body {
  font-family: sans-serif;
  margin: 0px 3% 100px 3%;
  background: #b8b2ea;
}

/*
.system_name {
  display: block;
  width: 300px;
  height: 100px;
  margin-right: auto;
}
*/

#flex_container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
}

.flex {
  display: flex;
}

/*
.lab_name {
  font-size: 30px;
  text-align: center;
  border: solid 2px orange;
}
*/

.user_list {
  height: 50px;
  margin: 20px 20px 0px;
}

.image_color {
  height: 100%;
}

.user_name {
  height: 100%;
  font-size: xx-large;
  text-align: center;
}

.attend {
  background-color: white;
  color: black;
}

.absent {
  background-color: #04012c;
  color: white;
}

.in_out {
  height: 100%;
}

.in_image {
  background-color: white;
}

.out_image {
  background-color: #04012c;
}

.column {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.graph_image {
  width: 60px;
  height: 24px;
  cursor: pointer;
}

.graph_time {
  /* max-width: 300px; */
  padding: 0px 20px;
  margin: 0px;
}

.logout {
  width: 45%;
  height: 8%;
  font-size: 1.4em;
  left: 2%;
  bottom: 2%;
  background-color: black;
  color: white;
  position: fixed;
  font-weight: bold;
  border-radius: 10%;
  cursor: pointer;
  background-image: url("./../img/logout.png");
  background-repeat: no-repeat;
  background-position: left;
}

.user_info {
  width: 45%;
  height: 8%;
  font-size: 1.4em;
  right: 2%;
  bottom: 2%;
  background-color: black;
  color: white;
  position: fixed;
  font-weight: bold;
  border-radius: 10%;
  cursor: pointer;
  background-image: url("./../img/setting.png");
  background-repeat: no-repeat;
  background-position: left;
}

/* 管理画面に使うスタイル */
.wrap > input {
  display: block;
}

div {
  margin-bottom: 20px;
}

ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

/* 以下，wakamoto変更：ヘッダ用*/
.Header {
position: relative; /* ヘッダーを固定する */
top: 0; /* 上部から配置の基準位置を決める */
left: -3%; /* 左から配置の基準位置を決める */
width: 106%; /* ヘッダーの横幅を指定する */
height: 10vh; /* ヘッダーの高さを指定する */
padding: 10px; /* ヘッダー内側の余白を指定する(上下左右) */
background-color: #d3d1fd; /* ヘッダーの背景色を指定する */
color: #000; /* ヘッダーのフォントの色を指定する */
border-bottom: 3px solid #c3c1dd; /* ヘッダーの境界線（下部）を指定する */
box-shadow:0 7px 10px 2px #aaaaaa; /* 影を指定（[右][下][ぼかし][広がり][影の色]） */
}

.system_name {
  display: block;
  height: 8vh;
  width: auto;
  margin-right: auto;
  margin-top: -10px;
  margin-bottom: -20px;
}

.lab_name {
  padding-top: 2%;
  font-size: 30px;
  text-align: center;
  scroll-padding-top: 80px;
}

#back {
  width: 45%;
  height: 8%;
  font-size: 1.4em;
  left: 2%;
  bottom: 2%;
  background-color: black;
  color: white;
  position: fixed;
  font-weight: bold;
  border-radius: 10%;
  cursor: pointer;
  background-image: url("./../img/back.png");
  background-repeat: no-repeat;
  background-position: 10%;
}

#register {
  width: 45%;
  height: 8%;
  font-size: 1.4em;
  right: 2%;
  bottom: 2%;
  background-color: black;
  color: white;
  position: fixed;
  font-weight: bold;
  border-radius: 10%;
  cursor: pointer;
  background-image: url("./../img/register.png");
  background-repeat: no-repeat;
  background-position: 10%;
}