body {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 100vmin;
  /* position: relative; */
}

#parasol_image {
  margin-left: 90%;
  width: 10%;
  height: 10%;
}

.graph {
  width: 100%;
  opacity: 0.5;
  /* position: absolute; */
  /* bottom: 0; */
  pointer-events: none;
  transform:rotateX(180deg);
}

/* エラーメッセージに関するクラス */

.error {
  color: #ff0000;
}

/*Transform-box:fill-box*/
.Header__shape {
  animation-duration: 4s;
  animation-timing-function: ease-in-out;
}

.Header {
  position: relative;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.myRect {
  animation-name: change-height;
}

@keyframes change-height {
  0% {
    height: 0%;
  }
}